name: Preprocess Dataset

on:
  push:
    paths:
      - "preprocessing/**"
      - ".github/workflows/preprocess_ci.yml"
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas seaborn matplotlib scikit-learn joblib

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_FuadHasanWirayudha.py

      - name: Upload cleaned dataset artifact
        uses: actions/upload-artifact@v4
        with:
          name: cleaned-pima-dataset
          path: cleaned_pima_diabetes_fuad.csv
